<h1> New Artist Submission Form</h1>

<%= form_tag "/artists", method: :post do %>
<%= label_tag "Name" %><br>
<%= text_field_tag :name %><br>
<%= label_tag "Spotify ID" %><br>
<%= number_field_tag :spotify_id %><br>
<%= label_tag "Zipcode" %><br>
<%= text_field_tag :zipcode %><br>
Genre:<br>
<%= label_tag :rock, ("Rock") %>
<%= check_box_tag :rock %>
<%= label_tag :country, ("Country") %>
<%= check_box_tag :country %>
<%= label_tag :pop, ("Pop") %>
<%= check_box_tag :pop %>
<%= label_tag :jazz, ("Jazz") %>
<%= check_box_tag :jazz %><br>
<%= submit_tag "Add Artist" %><br>
<% end  %>
