<div style="text-align:center;"><h1 style='color:white'> New Artist Submission Form</h1>
  <%= form_tag "/artists", method: :post do %>

  <%= label_tag "Spotify ID", "", :style => "color: white;" %><br>
  <%= text_field_tag :spotify_id %><br>
  <%= label_tag "Description", "", :style => "color: white;" %><br>
  <%= text_field_tag :description %><br>
  <%= label_tag "Zipcode", "", :style => "color: white;" %><br>
  <%= text_field_tag :zipcode %><br></br>
  <%= submit_tag "Add Artist" %><br>
  <% end  %>
</div>
