<h1> New Artist Submition Form</h1>

<%= form_tag "/artists", method: :post do %>
<%= label_tag "Name" %><br>
<%= text_field_tag :name %><br>
<%= label_tag "Spotify ID" %><br>
<%= number_field_tag :spotify_id %><br>
<%= label_tag "Zipcode" %><br>
<%= text_field_tag :zipcode %><br>
Genre:<br>
<%= label_tag :rock, ("Rock") %>
<%= check_box_tag :rock %>
<%= label_tag :genre, ("Country") %>
<%= check_box_tag :genre %>
<%= label_tag :genre, ("Pop") %>
<%= check_box_tag :genre %>
<%= label_tag :genre, ("Jazz") %>
<%= check_box_tag :genre %><br>
<%= submit_tag "Add Artist" %><br>
<% end  %>