
<section style="color:white" align="center">
  <h1>Preferences:</h1><br><br>

  <% if current_user.zipcode %>
    <h3>Your current zip: <%= current_user.zipcode %> </h3>
  <% else %>
    <h3>Enter your zip to get started.</h3>
  <% end %>

  <br><br>

  <%= form_tag "/api/v1/users", method: :patch do %>
  <h4><%= label_tag "Zipcode" %></h4><br>
  <p1 style="color:black;"><%= text_field_tag :zipcode %></p1><br><br>
  <p1 style = "color:black"><%= submit_tag "Update Preferences" %></p1><br>
  <% end %>
</section>
